

  <footer id="footer" class="mt-auto">
    <div class="icons-container">
      <a href="mailto:kirsten.ivey@gmail.com"> <i class="icons-media fas fa-envelope"> </i></a>
      <a href="https://www.linkedin.com/in/kirsten-ivey-38b079208/"><i class="icons-media fab fa-linkedin"></i></a>
      

    </div>


    <p class="copyright">© Copyright 2021 Kirsten Ivey</p>

  </footer>
  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <!-- jquery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- custom js -->
  <script src="myjs.js" charset="utf-8"></script>
</body>

</html>
