

  <footer id="footer" class="mt-auto">
    <div class="icons-media d-flex justify-content-between">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fas fa-envelope"></i>
    </div>


    <p class="copyright">© Copyright 2021 Kirsten Ivey</p>

  </footer>
  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <!-- jquery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- custom js -->
  <script src="myjs.js" charset="utf-8"></script>
</body>

</html>
