<%- include("Partials/Header"); -%>
<h1 class="pagetitle">About</h1>
<br>
<div class="row row-link">
  <img class="blue-circle" src="https://i.ibb.co/9H9JCP4/blue-circle.png" alt="">
  <h2 class="page-titles"><button id="background-button" class="page-links" >background</button></h2>
</div>
  <p id="background-text" class="page-text">
    I was raised in San Diego, CA in a large Peruvian family. I was a nerdy kid who loved
    reading and puzzles. I did weird things like ask my Geometry teacher for challenge problems
    so that I could spend my <i>spare time</i> writing 40 step proofs. Math
    lit my brain on fire in a way few things did, so I went on to earn my BS in Applied
    Mathematics from SDSU.
    <br>
    </p>
    <div class="row row-link">
      <img class="blue-circle" src="https://i.ibb.co/9H9JCP4/blue-circle.png" alt="">
      <h2 class="page-titles"><button id="human-button" class="page-links" >some human stuff</button></h2>
    </div>
      <p id="some-human-text" class="page-text">
        When not working, I love hanging out with family and dogs. You can find me at the
        beach or biking around Mission Bay. I consider myself an avid reader, aspiring cook, and
        lover of video games. I am also bilingual and am always looking for
        opportunities to practice my Spanish.
      </p>
      <div class="row row-link">
        <img class="blue-circle" src="https://i.ibb.co/9H9JCP4/blue-circle.png" alt="">
        <h2 class="page-titles"><button id="teaching-button" class="page-links" >teaching career</button></h2>
      </div>
      <p id="teaching-career-text" class="page-text">
    After graduating with my math degree, teaching seemed a natural path.
    So I earned my Master's in Education and then went on to
    teach high school math for 8 years in Everett, WA. Everything from Algebra to AP Statistics.
    A majority of my students came from immigrant families, were low-income, and started out
    years behind.
    It was a life changing experience to work with so many amazing young people and
    help to change the trajectory of their futures.
    They were the only reason I stayed in teaching as long as I did.
    </p>
    <div class="row row-link">
      <img class="blue-circle" src="https://i.ibb.co/9H9JCP4/blue-circle.png" alt="">
      <h2 class="page-titles"><button id="why-switch-button" class="page-links" >why I'm making the career switch</button></h2>
    </div>
      <p id="why-the-switch" class="page-text">
        While I loved the students, I was no longer finding joy in the day to day of my job.
        I started spending my free time doing coding challenges for fun. Once I started having
        more fun with that than my regular job, I realized it was time for a career switch.
        Programming reminds me of all the reasons I fell in love with math in the first place.
        And while I am still new to this space, it already feels like home.
      </p>


<%- include("Partials/Footer"); -%>
