<%- include("Partials/Header"); -%>


<h1 class="pagetitle">Contact</h1>
<br>
<div class="page-text contact-text">
  <p>
  <i class="fas fa-envelope"></i>
  <a href="mailto:kirsten.ivey@gmail.com">kirsten.ivey@gmail.com </a>
    </p>

      <p><a href="https://www.linkedin.com/in/kirsten-ivey-38b079208/"><i class="fab fa-linkedin"></i></a> <a href="https://www.linkedin.com/in/kirsten-ivey-38b079208/">LinkedIn</a></p>

</div>


<%- include("Partials/Footer"); -%>
