<%- include("Partials/Header"); -%>

<h1 class="pagetitle">Skills</h1>
<br>

<div class="page-text">
  <div>
    <h2>Languages</h2>
  </div>
  <p>
    <i class="skill-icons fab fa-python"></i>Python: data structures, algorithms, object oriented programming.
  </p>
  <p>
    <i class="skill-icons fab fa-js-square"></i> Javascript for web development. Working with js Objects and using
    JQuery as a framework.
  </p>
  <p>
    <i class="skill-icons fas fa-code"></i> Some experience with C: writing algorithms, using pointers, memory allocation.
  </p>
  <p>
    <i class="skill-icons fab fa-html5"></i> Markup languages like HTML and CSS
  </p>
</div>
<br>
<div class="page-text">
  <div>
    <h2>Web Dev Technologies</h2>
  </div>
  <p>
    <ul>
      <li>Using external styling frameworks like Bootstrap</li>
      <li>Responsive web design both through Bootstrap and through CSS Media Queries</li>
      <li>Website animations with js and JQuery</li>
      <li>Setting up Node server projects using node.js, express, and other external packages</li>
      <li>Using EJS templating to maintain cross-site design</li>
      <li>Implementing and creating RESTful API's </li>
      <li> Using NoSQL data bases: Mongo DB and Mongoose</li>
      <li>Setting up cloud based servers with Mongo Atlas</li>
      <li>Deploying applications using Heroku Servers</li>
    </ul>
    </p>
</div>



<%- include("Partials/Footer"); -%>
